body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#user-auth, #chat-room, #chat {
    margin-bottom: 20px;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#message-input {
    width: calc(100% - 60px);
}

.message {
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            max-width: 60%;
        }
        .my-message {
            background-color: #0000FF;
            margin-left: auto;
            text-align: right;
        }
        .other-message {
            background-color: #FFFFFF;
            margin-right: auto;
            text-align: left;
        }
        .timestamp {
            font-size: 0.8em;
            color: #999;
        }

